<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Nieuwe opname</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="newRecordingForm">
        <ion-list mode="md" inset="true">
            <ion-item-divider>
                <ion-label>Algemeen</ion-label>
            </ion-item-divider>
            <ion-item>
                <ion-label for="observer" position="floating">Waarnemer</ion-label>
                <ion-input accept="text" autofocus="autofocus" formControlName="observer" inputmode="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label for="date" position="floating">Datum</ion-label>
                <ion-input #dateInput (ionFocus)="showDatePicker(dateInput)" (tap)="showDatePicker(dateInput)"
                           accept="date" formControlName="recordingDate" inputmode="date"
                           pattern="[0-9]{1,2}/[0-9]{1,2}/[0-9]{4}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label for="userReference" position="floating">Referentie gebruiker</ion-label>
                <ion-input accept="text" formControlName="userReference" inputmode="text"></ion-input>
            </ion-item>
            <ion-item-divider>
                <ion-label>Locatie</ion-label>
            </ion-item-divider>
            <ion-item>
                <ion-label for="location" position="floating">Locatie</ion-label>
                <ion-input accept="text" formControlName="location" name="location"></ion-input>
            </ion-item>
        </ion-list>
        <ion-fab horizontal="end" slot="fixed" vertical="bottom">
            <ion-fab-button (click)="this.save()" [disabled]="!newRecordingForm.valid">
                <ion-icon name="arrow-forward-circle"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </form>
</ion-content>
<ion-footer>
    <ion-buttons slot="end">
        <ion-button (click)="this.navCtrl.pop()">
            Annuleren
        </ion-button>
        <ion-button (click)="this.save()">
            Bewaren
        </ion-button>
    </ion-buttons>
</ion-footer>
